<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="navbar">
    <ul class="navbar-list">
      <li><a href="#">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contacts">Contacts</a></li>
      <li><a href="#">Calendar</a></li>
      <li><i class="fa fa-reorder"></i></li>
    </ul>
  </div>
  <div class="background-image"></div>
  <div class="container">
      <fieldset id="BMI">
        <legend><h2>BMI Calculator</h2></legend>
        <div>
          <label for="weight" class="label">Weight (kg):</label>
          <input type="number" id="weight" [(ngModel)]="weight" />
        </div>
        <div>
          <label for="height" class="label">Height (cm):</label>
          <input type="number" id="height" [(ngModel)]="height" />
        </div>
        <div>
          <label for="age" class="label">Age (15 and below):</label>
          <input type="number" id="age" [(ngModel)]="age" max="15" />
        </div>
        <div>
          <button id="btn-calc" (click)="calculateBMI()">Calculate BMI</button>
        </div>
        <div class="result">
          THE BMI: <span>{{ bmi }}</span>
        </div>
        <div id="result-message" class="result">
          RESULT: <span>{{ resultMessage }}</span>
        </div>
      </fieldset>
    </div>
  
  <div>
  <div class="result-container">
    <fieldset id="BMI">
      <legend><h3>RESULT TABLE</h3></legend>
    <div class="result-table">  
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Weight (kg)</th>
            <th>Height (cm)</th>
            <th>Age</th>
            <th>BMI</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of results; let i = index" 
            [ngClass]="{ 
              'underweight-row': result.resultMessage === 'Underweight',
              'healthyweight-row': result.resultMessage === 'Healthy weight',
              'overweight-row': result.resultMessage === 'Overweight',
              'obese-row': result.resultMessage === 'Obese'
            }">
            <td>{{ i + 1 }}</td>
            <td>{{ result.weight }}</td>
            <td>{{ result.height }}</td>
            <td>{{ result.age }}</td>
            <td>{{ result.bmi }}</td>
            <td>{{ result.resultMessage }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="results.length === 0">No results available</p>
    </div>
    </fieldset>
  </div>
</div>
<router-outlet></router-outlet>
</body>