<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
<body>
    <div class="navbar">
      <div class="navbar-content">
        <div class="navbar-logo"></div>
        <div class="logo-text">Logo Text</div>
      </div>
      <ul class="navbar-list">
        <li><a href="#">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contacts">Contacts</a></li>
        <li><a href="#">Calendar</a></li>
        <li><i class="fa fa-reorder"></i></li>
      </ul>
    </div>
  
    <div class="background-image"></div>
</body>
  
  